@model IEnumerable<WebKermesse.Models.EventViewModel>

<style>
    /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
    #map {
        height: 750px;
        width: 100%;
    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
        height: 100%;
        margin-top: 30px;
        padding: 0;
    }

    .controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    }

    #origin-input,
    #destination-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 200px;
    }

        #origin-input:focus,
        #destination-input:focus {
            border-color: #4d90fe;
        }

    #mode-selector {
        color: #fff;
        background-color: #4d90fe;
        margin-left: 12px;
        padding: 5px 11px 0px 11px;
    }

        #mode-selector label {
            font-family: Roboto;
            font-size: 13px;
            font-weight: 300;
        }
</style>


    <div id="map"></div>

    <script>


        function initMap() {
            // récupération des informations émises par MapController-->Index : Libelle, Adresse, Id de chaque évent
            var ListNameEvent = @Html.Raw(Json.Encode(ViewData["ListNameEvent"]));
            var ListAddressEvent = @Html.Raw(Json.Encode(ViewData["ListAddressEvent"]));
            var ListIdEvent = @Html.Raw(Json.Encode(ViewData["ListIdEvent"]));
            // création d'un tableau vide contenant les emplacements
            var locations = [];
            for (var j = 0; j < ListNameEvent.length; j++) {
                //insertion des infos dans le tableau
                locations.push([ListNameEvent[j], ListAddressEvent[j], ListIdEvent[j]])
            }
            // création d'une carte centrée sur Rennes mis en place sur l'élément avec div-ID ='map'
            var map = new google.maps.Map(document.getElementById('map'), {
                mapTypeControl: false,
                center: { lat: 48.109771, lng: -1.679117 },
                zoom: 13
            });
            //déclaration du InfoWindow pour les contenu des markers
            var infowindow = new google.maps.InfoWindow();
            //déclaration du géocoder qui permet de récupérer les coordonnées d'un point par une recherche de l'adresse
            var geocoder = new google.maps.Geocoder();
            var marker, i;

            //insertion de chaque emplacements
            for (i = 0; i < locations.length; i++) {
                geocodeAddress(locations[i]);
            }
            //insertion d'un emplacement
            function geocodeAddress(location) {
                //recherche d'un emplacement par les infos d'adresse
                geocoder.geocode({ 'address': location[1] }, function (results, status) {
                    //alert(status);
                    // si emplacement trouvé sur GMap
                    if (status == google.maps.GeocoderStatus.OK) {
                        //alert(results[0].geometry.location);
                        //généré un lien pour le détail de l'événement sur l'emplacement
                        var link = '@Html.ActionLink("Détails", "Details","Events", new { id = "replace" }, null)';
                        //insertion de l'ID de l'événement
                        link = link.replace("replace", location[2]);
                        //contenu du marker
                        var markerContent = "<b>" + location[0] + "</b>" + "<br>" + location[1] + "<br>" + link;
                        //création du marker avec les infos de contenu
                        createMarker(results[0].geometry.location, markerContent);
                    }
                    else {
                        alert("some problem in geocode" + status);
                    }
                });
            }
            //création du marker
            function createMarker(latlng, html) {
                var marker = new google.maps.Marker({
                    position: latlng,
                    map: map,
                    animation: google.maps.Animation.DROP,
                    icon: {
                        url: "/Content/images/location-time.png",
                        scaledSize: new google.maps.Size(45, 45)
                    }
                });
                //ajout d'un événement lorsqu'on clique sur le marker
                google.maps.event.addListener(marker, 'click', function () {
                    infowindow.setContent(html);
                    infowindow.open(map, marker);
                });
            }
        }



    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB67MlViEjryRDO6eCtCF3mQzV2vyExT_Y&libraries=places&callback=initMap"
            async defer></script>
