body {
    padding-top:50px; 
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left:25px;
    padding-right: 25px;
    text-decoration: none;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.rennes {
    background-image: url("images/photoRennes.jpg");
    color: aliceblue;
    max-height:400px;
}

.inline {
    display:inline-block;
}


.miniature {
    margin: auto;
    width : 180px;
    height : 235px;
}

.resize-mini {
    width: inherit;
   height:150px;
}

ul,li {
    list-style-type: none;
}

.alignItemsCenter{
    align-items:center;
}

#jumbo_img_rennes{
    max-width:1024px;
    margin-left:auto;
    margin-right:auto;
    height: 400px;
    justify-content:center;
    align-items:stretch;
    text-decoration:dashed;
}

.center {
    margin-left: auto;
    margin-right: auto;
}
.cardShadow {
    box-shadow: 0 12px 15px 0 rgba(0,0,0,.24), 0 17px 50px 0 rgba(0,0,0,.19);
}

.margin{
    margin:10px;
}
.div-center {
    align-content:center;
}

.padding {
    padding: 15px 15px 15px 15px;
}

.border-radius {
    border-radius: 5px 5px 5px 5px;
}

.border25 {
    border-radius: 25px 25px 25px 25px;
}

.block{
    display:block;
}

.cardText {
    margin-rigth:auto;
    margin-left:auto;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.padding-0 {
    padding: 0px 0px 0px 0px;
}

.padding-5 {
    padding: 5px 5px 5px 5px;
}