@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron rennes text-center" id="jumbo_img_rennes">
    <h1>Bienvenue sur Kermesse </h1>
</div>
<div class="lead center">Trouvez votre prochaine sortie à Rennes, recherchez par thème ou par dates selon vos envies !</div>
<hr />
<h2>Evénements à venir sur Rennes</h2>
<div class="row center">
    <!--FOR EACH LISTE SUGGESTIONS ...-->
    <div class=" col-md-4 center card mb-3 cardShadow margin" style="width: 18rem;">
        <img class="card-img-top resize-mini center" src="~/Content/images/bkg-blu.jpg" alt="Card image cap">                <div class="card-body">
            <div class="card-body center">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-info margin">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class=" col-md-4 center card mb-3 cardShadow margin" style="width: 18rem;">
        <img class="card-img-top resize-mini center" src="~/Content/images/bkg-blu.jpg" alt="Card image cap">                <div class="card-body">
            <div class="card-body center">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-info margin">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class=" col-md-4 center card mb-3 cardShadow margin" style="width: 18rem;">
        <img class="card-img-top resize-mini center" src="~/Content/images/bkg-blu.jpg" alt="Card image cap">                <div class="card-body">
            <div class="card-body center">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-info margin">Go somewhere</a>
            </div>
        </div>
    </div>
   
</div>